/*------ Fonts ------*/
.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: xx-large;
    color: darkgreen;
}

.pinyon-script-regular-lg {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 50px;
    color: darkgreen;
}

.pinyon-script-regular-xl {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 80px;
    color: darkgreen;
}

/*--------------------*/
#hero {
    width: 100%;
    background: url(images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-min {
    min-width: 70px;
}

.tree {
    height: 60vh;
}

.treeImg {
    max-height: 100%;
    transition: transform 0.5s ease-in-out;
}

.treeImg:hover {
    transform: scale(1.08);
}

/*--------- Snow effect ---------*/
.snow-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.snowflake {
    background: transparent;
    position: absolute;
    top: 0;
    border-radius: 50%;
    animation: snow 6s linear infinite, wind 10s ease infinite;
}

.snowflake::after {
    content: "";
    position: absolute;
    top: -100vh;
    left: 0;
    width: inherit;
    height: inherit;
    box-shadow: inherit;
    border-radius: 50%;
}

#layer1 {
    animation-duration: 20s;
    opacity: 0.6;
    filter: blur(1px);
}

#layer2 {
    animation-duration: 10s;
    filter: blur(2px);
}

@keyframes snow {
    100% {
        top: 100%;
    }
}

@keyframes wind {
    80% {
        transform: translateX(100px);
    }
}